.show{
    display: block !important;
}

.platform_text_h3{
    margin-top: 15px;
    margin-bottom: 25px;
}

.acc-wrapper{
margin: 2px 0;
}

h3.bold{
    font-weight: 600;
}

ul.objects{
    margin: 0;
    padding: 0;
}

.objects li{
    margin-bottom: 15px;
}

.objects li a{
    text-decoration: none;
}